[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ponmurugapoovendhanak
[access "refs/for/refs/*"]
	read = group user/ponmurugapoovendhanak
	push = group user/ponmurugapoovendhanak
	label-Code-Review = -2..+2 group user/ponmurugapoovendhanak
	label-Verified = -1..+1 group user/ponmurugapoovendhanak
	rebase = group user/ponmurugapoovendhanak
	removeReviewer = group user/ponmurugapoovendhanak
	submit = group user/ponmurugapoovendhanak
[access "refs/heads/*"]
	read = group user/ponmurugapoovendhanak
	create = group user/ponmurugapoovendhanak
	push = +force group user/ponmurugapoovendhanak
	pushMerge = group user/ponmurugapoovendhanak
[access "refs/tags/*"]
	push = group user/ponmurugapoovendhanak
	push = +force group user/ponmurugapoovendhanak
